name: Deploy Main

on:
  push:
    branches: ['main']

jobs:
  deploy-nestjs:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up SSH
        uses: webfactory/ssh-agent@v0.5.3
        with:
          ssh-private-key: ${{ secrets.SSH_PRIVATE_KEY }}

      - name: Deploy to server
        run: |
          ssh -o StrictHostKeyChecking=no -p ${{ secrets.AZURE_SSH_PORT }} ${{ secrets.AZURE_SSH_USER }}@${{ secrets.AZURE_SSH_HOST }} 'bash -s' < ./scripts/deployMainNestjs.sh
